---
layout: default
title: Aaron Grainer
cover: 'assets/images/LQqfap.jpg'
class: 'home-template'
navigation: False
logo2: 'assets/images/logo/grainer-logo.png'
current: home
---


<header class="main-header" style="background-image: url({{ site.baseurl }}{{ page.cover }})">
	<nav class="main-nav overlay clearfix">
		{% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
		{% if page.navigation %}
			<a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
		{% endif %}
	</nav>
	<div class="vertical">
		<div class="main-header-content inner">
			<h1 class="page-title">{{ site.name }}</h1>
			<h2 class="page-description">{{ site.description }}</h2>
		</div>
	</div>
	<a class="scroll-down icon-arrow-left" href="#skills" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<!-- {% comment %}
{% include about.html %}
{% endcomment %} -->

<main id="skills" class="content bg-light-gray" role="main">
	{% include skills.html %}
</main>

<!-- <main id="content" class="content bg-light-gray" role="main">
	{% comment %}
	{% include projects.html %}
	{% endcomment %}
</main> -->

{% include timeline.html %}

<main id="author" class="content bg-light-gray" role="main">
	{% include author.html %}
</main>




