    <!-- Previous/next page links - only displayed on page 2+ -->
    <div class="extra-pagination inner">
        {% if page.class == 'home-template' %}
            {% include post_pagination.html %}
        {% elsif page.class == 'page-template' %}
            {% include post_pagination.html %}
        {% elsif page.class == 'author-template' %}
            {% include author_pagination.html %}
        {% elsif page.class == 'tag-template' %}
            {% include tag_pagination.html %}
        {% else %}
            {% include post_pagination.html %}
        {% endif %}
    </div>

    <div>
        <div class="col-lg-8 col-lg-offset-2 text-center top-buffer bottom-buffer">
            <h2 class="section-heading">Projects</h2>
            <h4 class="section-subheading text-muted">Ideas that Inspires</h4>
        </div>
    </div>
    <!-- This is the post loop - each post will be output using this markup -->
    {% for post in paginator.posts %}
    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url | remove: '/' }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            <p>{{ post.content | strip_html | truncatewords: 26 }} <a class="read-more" href="{{ site.baseurl }}{{ post.url | remove: '/' }}">&raquo;</a></p>
        </section>
        <footer class="post-meta text-right">
            <time class="post-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date_to_string }}</time>
        </footer>
    </article>
    {% endfor %}

    <!-- Previous/next page links - displayed on every page -->
    {% if page.class == 'home-template' %}
        {% include post_pagination.html %}
    {% elsif page.class == 'page-template' %}
        {% include post_pagination.html %}
    {% elsif page.class == 'author-template' %}
        {% include author_pagination.html %}
    {% elsif page.class == 'tag-template' %}
        {% include tag_pagination.html %}
    {% else %}
        {% include post_pagination.html %}
    {% endif %}
